.header{
    margin-bottom: 100px;
}

.resumo{
    display: flex;
    margin-bottom: 0px;
}

#foto{
    width: 100%;
    display: flex;
    max-width: 220px;
    max-height: 280px;
    margin-left: 90px;
    align-self: center;
    box-shadow: 3px 3px 10px 1px #000;
}

.lista{
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
    margin-left: 90px;
}

.lista li{
    flex: 1 1 200px;
    margin: 10px;
}